<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet">

  <style>
    div{
      background-color: rgb(90, 6, 236);
      width: 75%;
      height: 60px;
      text-align: center;
      color: white;
      margin-left: 10%;
     }
    a{
      color:white;
      text-decoration: none;
      }
   
  </style>
</head>
<body>
  <div> <img
    width="50"
    margine-down="10"
    alt=""
    src="D:\image.jfif"/>
 
    customer Manager
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    &#160;
    <a href=" ">customer</a>
    &#160;
    &#160;
    
    <a href=" ">Orders</a>
    &#160;
    &#160;
    
    <a href=" ">About</a>
  
    &#160;
    &#160;
    <a href=" ">Login</a>
  </div>
</body>
</html>